<!doctype html> 
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static from static %}
<!DOCTYPE html>
<html>
<head>
<title>Medical Clinic a Medical Hospital Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<link href="http://fonts.googleapis.com/css?" family="Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic" rel="stylesheet" type="text/css">
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
<!-- header -->
			<div class="header">	
					<div class="logo">
					   <a href="index.html"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i>Medical Clinic<span>We Work For Your Health&nbsp;&nbsp;</span></a>
					</div>
					<div class="top-nav">
						<span class="menu"><img src="{% static 'images/menu.png' %}" alt=" " /></span>
						<ul class="nav">
							<li class="active"><a href="http://127.0.0.1:8888/knowledge_graph/">首页</a></li>
							<li><a href="#">疾病自诊</a></li>
							<li><a href="#">医生推荐</a></li>
<!--							<li><a href="#">科普知识</a></li>-->
<!--							<li><a href="#">联系我们</a></li>-->
						</ul>
								<!-- script-for-menu -->
								 <script>
								   $( "span.menu" ).click(function() {
									 $( "ul.nav" ).slideToggle( 300, function() {
									 // Animation complete.
									  });
									 });
								</script>
								<!-- /script-for-menu -->
					</div>
					<div class="clearfix"> </div>
			</div>
<!-- //header -->
			<div class="banner-info">

				<form action="#">
					<input type="text" id="raw_text" value="请输入您的症状描述..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入您的症状描述...';}" required="">
					<input type="submit" id="sub1" value="疾病自诊" >
					<input type="submit" id="sub2" value="医生推荐" >
				</form>
			</div>
			<div class="banner-info-grids">
				<div class="col-md-4 banner-info-grid">
					<div class="banner-info-grid1">
						<div class="banner-info-grid-left">
							<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						</div>
						<div class="banner-info-grid-right">
							<h4>疾病自述</h4>
							<p>目前身体有哪里不舒服现象</p>
							<div class="更多">
								<a href="single.html">更多</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 banner-info-grid">
					<div class="banner-info-grid1">
						<div class="banner-info-grid-left">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</div>
						<div class="banner-info-grid-right">
							<h4>疾病自诊</h4>
							<p>您可能患有的疾病概率</p>
							<div class="更多">
								<a href="single.html">更多</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 banner-info-grid">
					<div class="banner-info-grid1">
						<div class="banner-info-grid-left">
							<span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
						</div>
						<div class="banner-info-grid-right">
							<h4>医生推荐</h4>
							<p>为您推荐专属医生</p>
							<div class="更多">
								<a href="single.html">更多</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="banner-bottom-grid">
			<div class="banner-bottom-left">
				<div class="banner-bottom-left1">
					<h3>01. 医生推荐</h3>
					<p>我们会根据您的症状描述为您推荐最适合您的医生，保证您问诊过程效果最佳。</p>
					<div class="more m1">
						<a href="single.html">更多消息</a>
					</div>
				</div>
			</div>

			<div class="banner-bottom-right">
				<div class="banner-bottom-right1">
					<h3>02. 疾病自诊</h3>
					<p>通过您的自我描述，我们会根据各种症状为您诊断出您患哪种疾病的概率最大哦。</p>
					<div class="more m1">
						<a href="single.html">更多消息</a>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="banner-bottom-grid">
			<div class="banner-bottom-left banner-bottom-lft1">
				<div class="banner-bottom-left1">
					<h3>03. 疾病自述</h3>
					<p>您近期身体出现不适现象，却不知自己患了什么病，可在本平台描述具体症状。如头疼、发热、恶心等。</p>
					<div class="more m1">
						<a href="single.html">更多消息</a>
					</div>
				</div>
			</div>
			</div>
			<div class="banner-bottom-right banner-bottom-rit1">
				<div class="banner-bottom-right1">
					<h3>04. 更多医生信息</h3>
					<p>想要了解更多咨询请点击下方链接，更多医生信息请点击更多消息查看。</p>
					<div class="more m1">
						<a href="single.html">更多消息</a>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- welcome -->
<!-- //welcome -->
<!-- about -->
<!-- //about -->
<!-- testimonials -->
	<div class="主要科室">
		<div class="container">
			<h3>主要科室</h3>
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="testimonials-grid">
								<div class="col-md-6 testimonials-grid-left">
									<div class="testimonials-grid-left1">
										<img src="{% static 'images/30.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="testimonials-grid-right1">
										<p><span>高血压</span>（hypertension）是指以体循环动脉血压（收缩压和/或舒张压）增高为主要特征（收缩压≥140毫米汞柱，舒张压≥90毫米汞柱），可伴有心、脑、肾等器官的功能或器质性损害的临床综合征。</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="col-md-6 testimonials-grid-left">
									<div class="testimonials-grid-left1">
										<img src="{% static 'images/31.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="testimonials-grid-right1">
										<p><span>冠心病</span>，全称冠状动脉粥样硬化性心脏病，有时也叫缺血性心脏病，是指冠状动脉粥样硬化导致心肌缺血、缺氧而引起的心脏病。</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
						<li>
							<div class="testimonials-grid">
								<div class="col-md-6 testimonials-grid-left">
									<div class="testimonials-grid-left1">
										<img src="{% static 'images/32.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="testimonials-grid-right1">
										<p><span>糖尿病</span>是一组以高血糖为特征的代谢性疾病。高血糖则是由于胰岛素分泌缺陷或其生物作用受损，或两者兼有引起。长期存在的高血糖，导致各种组织，特别是眼、肾、心脏、血管、神经的慢性损害、功能障碍。</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="col-md-6 testimonials-grid-left">
									<div class="testimonials-grid-left1">
										<img src="{% static 'images/33.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="testimonials-grid-right1">
										<p><span>儿科</span>儿科是全面研究小儿时期身心发育、保健以及疾病防治的综合医学科学。凡涉及儿童和青少年时期的健康与卫生问题都属于儿科范围。其医治的对象处于生长发育期。</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
						<li>
							<div class="testimonials-grid">
								<div class="col-md-6 testimonials-grid-left">
									<div class="testimonials-grid-left1">
										<img src="{% static 'images/34.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="testimonials-grid-right1">
										<p><span>皮肤科</span>皮肤科属于外科，主要治疗各种皮肤病，常见皮肤病有牛皮癣 、 疱疹 、酒渣鼻 、脓疱疮 、化脓菌感染 、疤痕 、癣 、鱼鳞病 、腋臭 、青春痘等。</p>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="col-md-6 testimonials-grid-left">
									<div class="testimonials-grid-left1">
										<img src="{% static 'images/35.jpg' %}" alt=" " class="img-responsive" />
									</div>
									<div class="testimonials-grid-right1">
										<p><span>妇产科</span>妇产科是临床医学四大主要学科之一，主要研究女性生殖器官疾病的病因、病理、诊断及防治，妊娠、分娩的生理和病理变化，高危妊娠及难产的预防和诊治，女性生殖内分泌，计划生育及妇女保健等。</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
				<!--FlexSlider-->
						<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
						<script defer src="js/jquery.flexslider.js"></script>
						<script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
					  </script>
				<!--End-slider-script-->
		</div>
	</div>
<!-- //testimonials -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>疾病查询</h3>
					<ul>
						<li><a href="#">疾病症状</a></li>
						<li><a href="#">疾病治疗</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>医生</h3>
					<ul>
						<li><a href="#">医生简介</a></li>
						<li><a href="#">医院简介</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>医疗知识</h3>
					<ul>
						<li><a href="#">科普知识</a></li>
						<li><a href="#">医疗常识</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>问题反馈</h3>
					<ul>
						<li><a href="#">问题咨询</a></li>
						<li><a href="#">联系方式</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-grds">
				<div class="footer-grds-left">
					<ul>
						<li><a href="#">Privacy Policy |</a></li>
						<li><a href="contact.html">Sitemap |</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
					<p>Copyright © 2022 Medical Clinic. All Rights Reserved | Design by <a href="http://w3layouts.com/">斛斗驿站</a></p>
				</div>
				<div class="footer-grds-right">
					<ul>
						<li><a href="#" class="fa"></a></li>
						<li><a href="#" class="fb"></a></li>
						<li><a href="#" class="fc"></a></li>
						<li><a href="#" class="fd"></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>

		<script>
			$("#sub1").click(function () {
			let raw_text = $("#raw_text").val();
<!--			alert(raw_text);-->
            let param = {
                    "raw_text": raw_text,
                };
            let url = "http://127.0.0.1:8888/knowledge_graph/diagnosis?raw_text="+raw_text;
            window.open(url);
			});
			$("#sub2").click(function () {
			let raw_text = $("#raw_text").val();
<!--			alert(raw_text);-->
            let param = {
                    "raw_text": raw_text,
                };
            let url = "http://127.0.0.1:8888/knowledge_graph/recommend?raw_text="+raw_text;
            window.open(url);
			});
		</script>
<!-- //for bootstrap working -->
</body>
</html>