<!DOCTYPE html>
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static from static %}
<!DOCTYPE html>
<html>
<head>
<title>Medical Clinic a Medical Hospital Category Flat Bootstarp Resposive Website Template | news :: 斛斗驿站</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Clinic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<style>
		/*显示跟多*/
.contain{
            width: 100%;
            position: relative;
            margin: 0 auto;
            height: 200px;
            overflow: hidden;/*设置文案容器高度，超出部分隐藏*/
            text-align: center;
        }
.open-btn{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80px;
    background: linear-gradient(180deg,rgba(255,255,255,0),#fff);/*实现渐变效果，遮罩效果*/
}
.open-btn a{
    text-decoration: none;
    color: chocolate;
    display: inline-block;
    margin-top: 60px;
}
	</style>
<!-- //js -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic" rel="stylesheet" type="text/css">

</head>
	
<body>
<!-- banner -->
	<div class="banner1">
		<div class="container">
<!-- header -->
			<div class="header">	
					<div class="logo">
					   <a href="index.html"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i>Medical Clinic<span>We Work For Your Health</span></a>
					</div>
					<div class="top-nav">
						<span class="menu"><img src="{% static 'images/menu.png' %}" alt=" " /></span>
						<ul class="nav">
							<li class="active"><a href="http://127.0.0.1:8888/knowledge_graph/">首页</a></li>
							<li><a href="#" id="jibing">疾病自诊</a></li>
							<li><a href="#" id="yisheng">医生推荐</a></li>
<!--							<li><a href="#">科普知识</a></li>-->
<!--							<li><a href="#">联系我们</a></li>-->
						</ul>
								<!-- script-for-menu -->
								 <script>
								   $( "span.menu" ).click(function() {
									 $( "ul.nav" ).slideToggle( 300, function() {
									 // Animation complete.
									  });
									 });
								</script>
								<!-- /script-for-menu -->
					</div>
					<div class="clearfix"> </div>
			</div>
<!-- //header -->	
		</div>
	</div>
<!-- //banner -->
<!-- news -->
{%for doctor in result%}
	<div class="news">
		<div class="container">
			<div class="single-grid">
				<div class="col-md-8 blog-left">
					<div class="blog-left-grid">
						<div class="blog-leftl">
							<h4>推荐医生</h4>
							<a href="#"><i class="glyphicon glyphicon-tags" aria-hidden="true"></i>{{forloop.counter}}</a>
						</div>
						<div class="blog-leftr container ">
							<div class="blog-right">

								<h3 style="display: inline-block;">{{doctor.doctorName |slice:"1"}} *

								<button type="button" class="btn btn-success add_doctor" id="{{doctor.doctor_id}}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
									  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
									</svg>对比
								</button>
								</h3>


						</div>
							<div class="contain" id="textcontain{{forloop.counter}}">

								<p>个人简介：
									{{doctor.introduction}}</p>
								<p>
								<div class="open-btn" id="btncontain{{forloop.counter}}">
									<a onclick="showMore{{forloop.counter}}()">查看更多</a>
								</div>
							</div>

								<button type="button" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
								  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
								</svg> 联系医生</button>
								<button type="button" class="btn btn-primary">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
								  <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"></path>
								  <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"></path>
								</svg> 预约线下
								  </button>
							</p>
						</div>

						<div class="clearfix"> </div>
								<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 blog-right">
					<ul>
						<li><a href="#">医生职称：{{doctor.doctor_title}}</a></li>
						<li><a href="#">所在医院：{{doctor.hospitalName}}</a></li>
						<li><a href="#">所在科室：{{doctor.keshi}}</a></li>
						<li><a href="#">擅长：{{doctor.good_at}}</a></li>
						<li><a href="#">患者总数：{{doctor.patient_online}}</a></li>
					</ul>
						</div>
					</div>
					</div>
{% endfor %}
		<div style="display:none" id="cart"></div>
		<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>疾病查询</h3>
					<ul>
						<li><a href="#">疾病症状</a></li>
						<li><a href="#">疾病治疗</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>医生</h3>
					<ul>
						<li><a href="#">医生简介</a></li>
						<li><a href="#">医院简介</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>医疗知识</h3>
					<ul>
						<li><a href="#">科普常识</a></li>
						<li><a href="#">医疗常识</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>问题反馈</h3>
					<ul>
						<li><a href="#">问题咨询</a></li>
						<li><a href="#">联系方式</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-grds">
				<div class="footer-grds-left">
					<ul>
						<li><a href="#">Privacy Policy |</a></li>
						<li><a href="contact.html">Sitemap |</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
					<p>Copyright © 2022 Medical Clinic. All Rights Reserved | Design by <a href="http://w3layouts.com/">斛斗驿站</a></p>
				</div>
				<div class="footer-grds-right">
					<ul>
						<li><a href="#" class="fa"></a></li>
						<li><a href="#" class="fb"></a></li>
						<li><a href="#" class="fc"></a></li>
						<li><a href="#" class="fd"></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
		<script>
        // 点击显示更多按钮
        {%for doctor in result%}
			eval('function showMore{{forloop.counter}}() {$("#textcontain{{forloop.counter}}").height("auto");$("#btncontain{{forloop.counter}}").hide();}');
		{% endfor %}
		(function() {
        	$("#jibing").attr('href',window.location.href.replace('recommend','diagnosis'));
        	$("#yisheng").attr('href',window.location.href.replace('diagnosis','recommend'));
    	}());
    	</script>
		<script>
			//点击对比按钮
			let $cart = $("#cart");
			let $add_doctor = $(".add_doctor");
			$add_doctor.click(function (){
				// 已加入的医生
				let doctor_added = eval($cart.html());

				// 当前点击医生id
				let $id = $(this).attr("id").toString();

				// 最多添加两个

				if (typeof(doctor_added) != 'undefined' && doctor_added.length >= 2 && $(this).html() != '已加入'){
					alert("最多将两位医生加入对比");
					return false
					}

				// 是否需要移除
				if ($(this).html() == '已加入'){
					// 移除当前医生
					doctor_added.splice($.inArray( $id ,doctor_added),1);
					// 重新写入
					$cart.html('['+doctor_added.join()+']');
					// 更换
					$(this).html('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/></svg>对比');
					$(this).removeClass("btn-warning");
					$(this).addClass("btn-success");
				}
				else{
					// 添加医生
					if (typeof(doctor_added) == 'undefined'){
						$cart.html('['+$id+']');
					}
					else{
						doctor_added.push($id);
						$cart.html('['+doctor_added.join()+']');
					};
					// 更换
					$(this).html('已加入');
					$(this).removeClass("btn-success");
					$(this).addClass("btn-warning");
				}

				// 跳转对比页面
				if (typeof(doctor_added) != 'undefined' && doctor_added.length == 2 && $(this).html() == '已加入'){
					let url = "http://127.0.0.1:8888/knowledge_graph/scores?chart=radar&doctor_id="+'['+doctor_added.join()+']';
            		window.open(url);
				}

			});


<!--			let add_doctor = $(".add_doctor");-->
<!--        $add_doctor.click(function (){-->
<!--			var $id = $(this).attr("id"));-->
<!--			var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()-->
<!--			var params = {-->
<!--				"curr_id": $id,-->
<!--				"doctors": {{result}},-->
<!--				"csrfmiddlewaretoken": csrfmiddlewaretoken-->
<!--			}-->
<!--			$.post("/knowledge_graph/scores/", params, function (data){-->
<!--				return 'success'-->
<!--            })-->

		</script>
<!-- //for bootstrap working -->
</body>
</html>